body {
    margin: 0px;
    padding: 0px;
    background-color: beige;
}

header {
    background-color: black;
}

/* Info about galvanized steel and stainless steel  */

#center{
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-direction: column;  
     margin-top: 50px;
    margin-bottom: 50px;  
    text-align: center;
}


.steel{
    width: 300px;
    height: 200px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
}


/* header */

.div {
    display: flex; 
    position: relative;
    justify-content: space-between;
}

.div-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
   display: flex;
}

.div-item a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    margin: 15px;
}

.div-item a:hover {
    background-color:rgb(59, 16, 16);
    border-radius: 5px;
}

.active{
    background-color: blue;
    border-radius: 5px;
}

.logo {
    height: 40px;
    width: 65px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
    background-color: white;
    font-style: oblique;
    
}



@media (min-width: 1201px){
   
    header{
        background-color: navy;
    }


    .active{
        background-color: blue;
       
    }
}

@media (min-width: 801px)and (max-width: 1200px){
   
    header{
        background-color: darkolivegreen;
    }


    .active{
        background-color: green;
       
    }

    .div-list {
       margin-left: 5px;
       margin-right: 5px;
    }
}

@media (max-width: 800px){
   
    header{
        background-color: darkgoldenrod;
    }


    .active{
        background-color:yellow;
       
    }

    .div-list {
       margin-left: 3px;
       margin-right: 3px;
    }

    
}



